<?xml version="1.0" encoding="utf-8" ?> 
  <log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="AppendFile" type="log4net.Appender.RollingFileAppender">
    <file value="c:/Logs/" />
    <datepattern value="yyyy-MM-dd.'txt'"/>
    <staticlogfilename value="false"/>
    <appendtofile value="true"/>
    <rollingstyle value="Composite"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger - MESSAGE: %message %exception" />
    </layout>
  </appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,
    Oracle.ManagedDataAccess, Version=3.21.41.0,
    Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <connectionString value="server=loonshot.cgxkzseoyswk.us-east-2.rds.amazonaws.com; Port=1521; User Id=loonshot;  Pwd = loonshot123; Convert Zero Datetime=True; Allow Zero Datetime=True; CharSet=utf8; Persist Security Info=True;  database=adsaverdb;"/>
    <commandText value="INSERT INTO LOON_LOG (LOGDATE,THREAD,ERROR_L,LOGGER,MSG,NEWLINE) VALUES (:log_date, :thread, :log_level, :logger, :message, :exception)" />
    <parameter>
      <parameterName value=":log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value=":thread" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_level" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":logger" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":message" />
      <dbType value="String" />
      <size value="300" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":exception" />
      <dbType value="String" />
      <size value="400" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  <root>
  <level value="ALL"/>
  <appender-ref ref ="AdoNetAppender" />
  <appender-ref ref="ConsoleAppender" />
  <appender-ref ref="AppendFile" />
  </root>
    <entityFramework>
      <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework"></defaultConnectionFactory>
      <providers>
        <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
</log4net>
