@{ string msg = ViewData["msg"] as string; }

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>

    $("#custom-login-btn").on("click", function () {
        KakaoLogin();
    });

    function KakaoLogin() {
        console.log("start kakao API!!!!!");
        // 카카오 API key
        Kakao.init('4b30f76e508ad0268c3bec3825ed6843');

        Kakao.Auth.login({
            scope: 'account_email',
            success: function (authObj) {

                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function (response) {
                        console.log("id : " + response.id);
                        console.log("kakaoaccount : " + response.kakao_account);
                        console.log("kakaoemail : " + response.kakao_account['email']);
                        //console.log("nickname : " + response.kakao_account['nickName']);
                        //console.log("nickname2 :" + response.nickName);
                        //console.log("성별 : "+response.kakao_account['gender']);
                        //console.log("생일 : "+response.kakao_account['birthday']);
                        var userId = response.id;
                        var kakaoemail = response.kakao_account['email'];
                        //alert(Kakao.Auth.getAccessToken());
                        //var nickname = response.nickname;
                        //var birth = response.birthday;
                        location.href = "/login/kakaoLogin?userId=" + userId + "&kakaoemail=" + kakaoemail;
                    } //End response function
                }) //End API.request
            } //End authObj Function
        }) //End Auth.login

    } //End Function

</script>





<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative" style="top:80px;">
    <div class="auth-box row">
        <div class="col-lg-7 col-md-5 modal-bg-img">
        </div>
        <div class="col-lg-5 col-md-7 bg-white">
            @if (string.IsNullOrWhiteSpace(msg) == false)
            {
                <div class="alert alert-danger">@msg</div>
            }
        <div class="p-3">
            <h2 class="mt-3 text-center">Sign In</h2>
            <p class="text-center">Enter your email address and password to access admin panel.</p>

            <form id="form1" method="post" action="/Login/Login" class="mt-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" name="patient_login_id" type="text" onkeyup="checkId(this.value);"
                                   placeholder="enter your id"><br />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" name="patient_login_pw" type="password" onkeyup="checkPw(this.value);"
                                   placeholder="enter your password"><br />
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="btn btn-block btn-dark">Sign In</button>
                    </div>
                    <div class="col-lg-12 text-center">
                        Don't have an account? <a href="/login/register" class="text-danger">Sign Up</a>
                    </div>

                    <!--social login-->
<div class="social-login">
    <a class="Kakao btn d-flex justify-content-center align-items-center" name="kakaoLogin" onclick="javascript:KakaoLogin()">
        <img src="~/img/login/kakao_btn.png" width="200" name="kakaoLogin">
        <span class="icon-Kakao mr-3"></span>
    </a>
    <a class="kakao btn d-flex justify-content-center align-items-center" id="naverIdLogin" onclick="javascipt:NaverLogin()">
        <img src="~/img/login/naver_btn.png" width="200" name="naverLogin">
        <span class="icon-Naver mr-3"></span>
    </a>
    <a class="google btn d-flex justify-content-center align-items-center" name="googleLogin" id="googleLogin" onclick="javascript:googleSign(googleUser)">
        <img src="~/img/login/google_btn.png" width="200" name="googleLogin">
        <span class="icon-Google mr-3"></span>
    </a>
</div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script>
    // 로컬 아이디 영어만입력 가능 5~15자리로 입력
    var chkId = /^[a-zA-z]{5,15}$/
    // 로컬 비밀번호 숫자,문자,특수문자입력 최소 8자리이상으로 입력
    var chkPw = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$$!%*#?&])[A-Za-z\d$$!%*#?&]{8,}$/

    function checkId(v) {
        if (!chkId.test(v)) {
            console.log("error input");
        }
    }
    function checkPw(v) {
        if (!chkPw.test(v)) {
            console.log("error input");
        }
    }


</script>