@{ string msg = ViewData["msg"] as string; }

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/css/login.css" rel="stylesheet" />

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>

    $("#custom-login-btn").on("click", function () {
        KakaoLogin();
    });

    function KakaoLogin() {
        console.log("start kakao API!!!!!");
        // 카카오 API key
        Kakao.init('4b30f76e508ad0268c3bec3825ed6843');

        Kakao.Auth.login({
            scope: 'account_email',
            success: function (authObj) {
                Kakao.Auth.setAccessToken(authObj.access_token);
                //alert(Kakao.Auth.getAccessToken());
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function (response) {
                        console.log("id : " + response.id);
                        console.log("kakaoaccount : " + response.kakao_account);
                        console.log("kakaoemail : " + response.kakao_account['email']);
                        //console.log("nickname : " + response.kakao_account['nickName']);
                        //console.log("nickname2 :" + response.nickName);
                        //console.log("성별 : "+response.kakao_account['gender']);
                        //console.log("생일 : "+response.kakao_account['birthday']);
                        var userId = response.id;
                        var kakaoemail = response.kakao_account['email'];
                        //alert(Kakao.Auth.getAccessToken());
                        //var nickname = response.nickname;
                        //var birth = response.birthday;
                        location.href = "/login/kakaoLogin?userId=" + userId + "&kakaoemail=" + kakaoemail + "&token=" + Kakao.Auth.getAccessToken();
                    } //End response function
                }) //End API.request
            } //End authObj Function
        }) //End Auth.login

    } //End Function

</script>
        <div class="row justify-content-center align-self-center" >
                
                    @if (string.IsNullOrWhiteSpace(msg) == false)
                    {
                        <div class="alert alert-danger">@msg</div>
                    }
                    <div class="col-lg-4" style="background-color: rgb(255,255,255,0.5); border-radius: 10px; padding: 20px; margin: 100px 0px;">
                        <h2 class="text-center">로그인</h2>

                        <form id="form1" method="post" action="/Login/Login" class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" name="patient_login_id" type="text" onkeyup="checkId(this.value);"
                                               placeholder="아이디"><br />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" name="patient_login_pw" type="password" onkeyup="checkPw(this.value);"
                                               placeholder="패스워드"><br />
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">로그인</button>
                                </div>
                                <br /><br />
                                <div class="col-lg-12 text-center">
                                    아직 회원이 아니신가요? <a href="/login/register" class="text-danger">회원가입</a>
                                </div>

                                <!--social login-->
                                <div class="social-login">
                                    <a class="Kakao btn d-flex justify-content-center align-items-center" name="kakaoLogin" onclick="javascript:KakaoLogin()">
                                        <img src="~/img/login/kakao_btn.png" width="200" name="kakaoLogin">
                                        <span class="icon-Kakao mr-3"></span>
                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>
 
  
        </div> <!--랩퍼-->
</>

<script>
    // 로컬 아이디 영어만입력 가능 5~15자리로 입력
    var chkId = /^[a-zA-z]{5,15}$/
    // 로컬 비밀번호 숫자,문자,특수문자입력 최소 8자리이상으로 입력
    var chkPw = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$$!%*#?&])[A-Za-z\d$$!%*#?&]{8,}$/

    function checkId(v) {
        if (!chkId.test(v)) {
            console.log("error input");
        }
    }
    function checkPw(v) {
        if (!chkPw.test(v)) {
            console.log("error input");
        }
    }


</script>
