<head>
    <link rel="stylesheet" href="~/css/print.css" />
</head>
<body>
    <div class="hidden" id="printArea">
       @*<div class="print-header">
           <div class="right-box w-50">
               <span class="font-size-l">처방전</span>
           </div>
           <div class="left-box w-50">
               <p>진료과</p>
               <p>작성자 </p>
               <p>날짜 </p>
           </div>
       </div>*@
       <div class="print-body br-top-blue">
           <table border="1" style=" border: 1px solid black; text-align: center; font-size: 15px;" width="100%" table-layout: auto; width: 100%;>
               <colgroup>
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
                   <col style="width:4%" />
               </colgroup>
               <tr>
                   <td class="table-title" style=" background-color: #8ce9df; font-weight: bold;" colspan="5">교부연월일 및 번호</td>
                   <td colspan="6" id="print_id"></td>
                   <td rowspan="4" colspan="3" style=" background-color: #8ce9df; font-weight: bold;" class="table-title">의료기관</td>
                   <td colspan="3" style=" background-color: #8ce9df; font-weight: bold;" class="table-title">명 칭</td>
                   <td colspan="3">이지피부과전문병원</td>
               </tr>
               <tr>
                   <td class="table-title" style=" background-color: #8ce9df; font-weight: bold;" colspan="2" rowspan="3">환자</td>
                   <td class="table-title" style=" background-color: #8ce9df; font-weight: bold;" colspan="3">성명</td>
                   <td colspan="6" id="print_name"></td>
                   <td colspan="3" style=" background-color: #8ce9df; font-weight: bold;" class="table-title">전화번호</td>
                   <td colspan="3">02-038-3312</td>
               </tr>
               <tr>
                   <td class="table-title" style=" background-color: #8ce9df; font-weight: bold;" colspan="3" rowspan="2">주민등록번호</td>
                   <td colspan="6" rowspan="2" id="print_id_number"></td>
                   <td colspan="3" style=" background-color: #8ce9df; font-weight: bold;" class="table-title">팩스번호</td>
                   <td colspan="3">02-038-3312</td>
               </tr>
               <tr>
                   <td colspan="3" class="table-title">e-mail 주소</td>
                   <td colspan="3">서울특별시 중구 신당동 청화빌딩</td>
               </tr>
               <tr>
                   <td class="table-title" rowspan="2" colspan="2">질병분류번호</td>
                   <td>1</td>
                   <td>1</td>
                   <td>1</td>
                   <td>1</td>
                   <td>1</td>
                   <td rowspan="2" colspan="3" class="table-title">의료처방자 서명</td>
                   <td colspan="5" rowspan="2">최 영 욱</td>
                   <td colspan="2" class="table-title">면허종별</td>
                   <td colspan="3">피부과</td>
               </tr>
               <tr>
                   <td>1</td>
                   <td>1</td>
                   <td>1</td>
                   <td>1</td>
                   <td>1</td>
                   <td colspan="2" class="table-title">면허번호</td>
                   <td colspan="3">1031-39284</td>
               </tr>
               <tr>
                   <td rowspan="1" colspan="10" class="table-title">처방 의약품의 명칭</td>
                   <td rowspan="1" colspan="2" class="table-title">1회 투약량</td>
                   <td rowspan="1" colspan="2" class="table-title">1일 투여횟수</td>
                   <td rowspan="1" colspan="2" class="table-title">증투약 일수</td>
                   <td rowspan="1" colspan="4" class="table-title">용법</td>
               </tr>
               <tr>
                   <td  colspan="10">1</td>
                   <td  colspan="2">1</td>
                   <td  colspan="2">1</td>
                   <td  colspan="2">1</td>
                   <td  colspan="4">1</td>
               </tr>
               <tr>
                   <td colspan="3" class="table-title">사용기간</td>
                   <td colspan="7" class="table-title">교부일 부터 ( 3 ) 일간</td>
                   <td colspan="10" class="table-title">사용기간 내에 약국에 제출하여야 합니다.</td>
               </tr>
           </table>
       </div>   
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
