


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Consecutive
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121231

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Consecutive by TEMPLATED</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="~/css/hospitalinfo.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="container">
        <div id="wrapper">
            <div id="header-wrapper" class="row">
                <div id="header" class="col-sm">
                    <div id="logo">
                        <br /><br />
                        <h1><a href="#">이지피부과 의원</a></h1>
                    </div>
                </div>
                <div id="banner" class="row">
                    <div class="col-sm">
                        <img src="~/img/AfterService/header-image-bg.jpg" width="1000" height="400" alt="" />
                    </div>
                </div>
            </div>
            <!-- end #header -->
            <div id="featured-content">
                <div id="column1">
                    <h2>나현정 대표 원장</h2>
                    <p><img src="~/img/AfterService/doctor3.jpg" width="300" height="400" alt="" /></p>
                    <h5>주요진료분야</h5>
                    <p>화상성형, 재건성형, 급성기 화상치료, 당뇨병 궤양</p>
                </div>
                <div id="column2">
                    <h2>김영헌 원장</h2>
                    <p><img src="~/img/AfterService/doctor2.jpg" width="300" height="400" alt="" /></p>
                    <h5>주요진료분야</h5>
                    <p>급성기 화상, 화상재건, 비만치료, 레이저치료</p>
                </div>
                <div id="column3">
                    <h2>이성찬 원장</h2>
                    <p><img src="~/img/AfterService/doctor1.jpg" width="300" height="400" alt="" /></p>
                    <h5>주요진료분야</h5>
                    <p>화상성형, 흉터성형, 화상치료, 소아화상, 욕창</p>
                </div>
            </div>
            <div id="page">
                <div id="content">
                    <div class="post">
                        <h2 class="title">인사말</h2>
                        <div class="entry">
                            <p>안녕하세요. <strong>이지피부과 의원</strong>입니다.</p>
                            <p>
                                저희 병원은국내 최초로 성형외과 전문의가 주축이 되어 만든 토털 번케어 센터입니다.
                                대학병원 화상전문 성형외과 교수진들이 모여 만든 이지피부과의원은 화상치료전문 후배 양성과 화상환자들에게 최상의 의료서비스를 제공하고자 설립하였습니다.
                            </p>
                            <p>
                                또한 화상으로 인한 소외된 이들에게 지속적인 서비스를 제공하자고 노력하고 있는 한강수병원은
                                예방적 차원에서의 소아화상, 급성화상치료 뿐만 아니라
                                화상재건 후 화상재활치료, 흉터제거 및 화상피부케어, 미용성형 등 분야별 전문가들의 모여 화상협진시스템을 구현하였습니다.
                            </p>
                            <p>
                                한강수병원은 화상으로 특화된 분야를 담당함으로써 향후 미래지향적인 글로벌 화상병원이 될 수 있도록 모든 역랑을 다할 것입니다.
                                감사합니다.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- end #content -->
                <div id="sidebar">

                    <h2>찾아오시는길</h2>
                    <div id="map" style="width:400px;height:400px;"></div>

                </div>
                <!-- end #sidebar -->
                <div style="clear: both;">&nbsp;</div>
            </div>
            <!-- end #page -->
        </div>
    </div>
</body>
</html>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a8c0247eb3a528882194639a23f614b3&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('서울 중구 동호로 204', function (result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">이지병원</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

</script>