@model LoonshotTest.Models.WaitingModel;
@using Microsoft.AspNetCore.Http

<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<!--아이덴티티 버전 변경-->

<div class="content">
    <div class="card-box">
        <div class="card">
            <a class="text-posi left-box" asp-area="" asp-controller="Booking" asp-action="Index">
                <div class="card-title">
                    <h1 class="m-title">접수하기</h1>
                    <div>

                        <img src="~/img/Main/bell.png" alt="접수하기" />
                    </div>
                </div>
                <div class="card-detail">
                    <div>
                        <h1>접수하기</h1>
                        <p>
                            언제 어디서든 진료 예약을 할 수 있습니다.
                            PC / 모바일 어느 환경에서든 원하는 시간을 찾아 예약을 해보세요!
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="text-posi right-box" asp-area="" asp-controller="Payment" asp-action="Payment">
                <div class="card-title">
                    <h1 class="m-title">결제하기</h1>
                    <div>
                        <img src="~/img/Main/pay.png" alt="결제하기" />
                    </div>
                </div>
                <div class="card-detail">
                    <div>
                        <h1>결제하기</h1>
                        <p>
                            기다림 없이 결제를 할 수 있습니다.
                            내가 받은 진료에 대한 결제를 한 손 에서 수행할 수 있습니다.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="text-posi left-box" asp-area="" asp-controller="Mypage" asp-action="info">
                <div class="card-title">
                    <h1 class="m-title">마이페이지</h1>
                    <div>
                        <img src="~/img/Main/my.png" alt="마이페이지" />
                    </div>
                </div>
                <div class="card-detail">
                    <div>
                        <h1>마이페이지</h1>
                        <p>
                            내 진료, 사후 관리를 확인 하며 보다 원활한 관리를 지원합니다.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        @if (Context.Session.GetString("userId") != null)
        {
            <div class="card">
                <span class="hidden waitng" data-air="@Context.Session.GetString("userId")"></span>
                <a class="text-posi right-box" asp-area="" asp-controller="" asp-action="">
                    <div class="card-title main-box" data-air="@Context.Session.GetString("userId")">
                        <h1 class="m-title my-wating">나의 대기 순번</h1>
                        <div>
                            <img src="~/img/Main/seq.png" alt="대기순번" />
                        </div>
                    </div>
                    <div class="card-detail ">
                        <div>
                            <h1>나의 대기 순번</h1>
                            <p>
                                바쁜 일상 자신의 대기를 실시간으로 확인하고, 보다 여유로움을 느낄 수 있습니다.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <!-- 카카오 친구추가 시작 -->
    <a id="channel-add-button" onclick="javascript:addChannel()">
        <img src="~/img/login/channel_add_small.png" />
    </a>


    <a id="channel-chat-button" onclick="javascript:chatChannel()">
        <img src="~/img/login/consult_small_yellow_pc.png" />
    </a>

    <a href="tel:01041670372"><img style="border-radius: 50%; width: 50px; height: 50px; " src="~/img/login/call.jpg" /></a>

</div>
<script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    $(function () {
        Kakao.init('4b30f76e508ad0268c3bec3825ed6843');
        Kakao.isInitialized();
    });

    function addChannel() {

        Kakao.Channel.addChannel({
            channelPublicId: '_iFDsb',

        });

        //alert("버튼클릭");
    }
    function chatChannel() {

        Kakao.Channel.chat({
            channelPublicId: '_iFDsb'
        });

        // alert("버튼클릭2");
    }
    $(function () {
        var msgCheck = null;
        var p_id = $(".waitng").data("air");
        console.log(p_id);
        if (typeof (p_id) != "undefined") {

            // 소켓 통신 시작
            $(function () {
                var connection = new signalR.HubConnectionBuilder().withUrl("/hubs").build();
                console.log(p_id + "2");

                connection.start().then(function () {
                    setInterval(function () {
                        var waiting = connection.invoke("Send", p_id, msgCheck);
                        waiting.then(a => $(".my-wating").text("남은 인원 :" + a + "명"));
                    }, 2000);
                })
            });
        }
    });

    // 소켓 통신 종료


</script>

