.booking-selectdoc-btn {
    display: block;
    display: flex;
    width: 100%;
    background-color: red;
    color: lightgray;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.booking-selectdoc-btn:hover{
    color: white;
}
