
.content {
    position: relative;
    margin: 0 auto;
    top: 53px;
    padding-bottom: 60px;
    background-color: white !important;
}
    .content .main-img {
        width: 100%;
        height: 0;
        padding-top: 44%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(/img/Main/main-img.png);
    }
    .content .card-box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }

        .content .card-box .text-posi .card-title {
            width: 74.9%;
            color: white;
            height: 100%;
            font-weight: bold;
            font-size: calc(1rem + 2vw) !important;
            padding-top: 1rem;
            font-weight: bold !important;
            margin: 0 !important;
        }

            .content .card-box .text-posi .card-title h1 {
                font-weight: bold !important;
                font-size: calc(1rem + 1.3vw) !important;
            }

            .content .card-box .text-posi .card-title div {
                position: relative;
                width: 65%;
                overflow: hidden;
                margin: 0 auto;
                cursor: pointer;
                padding-bottom: 21%;
            }

                .content .card-box .text-posi .card-title div img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                    position: absolute;
                }

        .content .card-box .text-posi .card-detail {
            width: 24.9%;
            color: black;
            height: 100%;
            position: relative;
            font-family: 'Nanum Myeongjo', serif;
            top: 2rem;
        }

            .content .card-box .text-posi .card-detail > div {
                display: inline-block;
                width: 100%;
                color: black;
            }

        .content .card-box .text-posi.right-box > div {
            float: right;
        }

        .content .card-box .text-posi.left-box > div {
            float: left;
        }

        .content .card-box .card {
            display: inline-flex !important;
            width: 100%;
            flex-grow: 1;
            text-align: center;
            position: relative;
        }

.contet .card-box .card h1 {
    font-weight: bold !important;
}

.content .card-box .text-posi {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.content .card-box .card:nth-child(1) .card-title {
    background-color: greenyellow;
}

.content .card-box .card:nth-child(2) .card-title {
    background-color: darkorchid;
}

.content .card-box .card:nth-child(3) .card-title {
    background-color: orange;
}

.content .card-box .card:nth-child(4) .card-title {
    background-color: red;
}

.kakao-area {
    background-color: #f8f9fa;
    margin-top: 1rem;
}

.kakao-area a {
    text-align: center;
}


@media (max-width: 1024px) {
    .content .card-box .card {
        width: 50% 
    }
    .content .card-box .text-posi .card-title {
        width: 100%;
    }

        .content .card-box .text-posi .card-title div {
            padding-bottom : 60%;
        }

        .content .card-box .text-posi .card-detail {
            display: none !important;
        }
    .kakao-area a {
        display: inline-block;
        width: 31%;
        text-align: center;
    }
}

a {
    color: #f8f9fa !important;
    text-decoration: none;
}

    a:link {
        text-decoration: none !important;
    }

    a:visited {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
    }
