
@media print {
    #printArea {
        background-color: yellow !important;
    }
}
@media (min-width: 2000px) {
    .container {
        padding: 0 !important;
        max-width: 100% !important;
    }
}

body {
    -webkit-print-color-adjust: exact !important;
}

body {
    background: #f2f2f2;
}
.content {
    position: relative;
    margin: 0 auto;
    padding-bottom: 80px;
    box-sizing: border-box;
    top: 3.25rem;
    
}

.content-wrapper {
    width: 90%;
}

.user-profile {
    position: relative;
    top: 3.25rem;
    background-color: #A8C6FF;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
}

    .user-profile h2 {
        font-size : 3rem;
        font-weight: bold;
        text-align: center
    }

    .user-profile .user-box .mypage-tap {
        max-width: 80%;
        margin: 0 auto;
    }

    .user-profile .user-box .mypage-tap .btn-tap {
        margin: 1.5rem  auto auto 0;
        display: inline-block;
        width: calc(99% / 3 - .5rem);
    }

        .user-profile .user-box .mypage-tap .btn-tap div {
            position: relative;
            max-width: 50%;
            border-radius: 100%;
            background-color : #f3f3f3;
            overflow: hidden;
            margin: 0 auto;
            cursor: pointer;
            padding-bottom: 49%;
        }

.form-check {
    padding-left: 0 !important;
}

.form-check-input {
    position: relative !important;
    margin-left: 0 !important;
    float: none !important;
}

.user-profile .user-box .mypage-tap div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
}

    .user-profile .user-box .mypage-tap h4 {
        text-align: center;
        font-size : 2rem;
        margin-top : 1.5rem;
        font-weight:bold
    }

.content.mypage {
    max-width: 85%;
    margin : 0 auto
}

.content.mypage .content-line{
    border-bottom : 1px solid rgba(0,0,0,0.23);
    position:relative;
    padding: 1rem;
    clear:both;
    margin-bottom: 1rem;
}

.content.mypage .content-line h4{
    display:inline;
}



    .content.mypage .content-line .btn-remove {
        border: 1px solid rgba(0,0,0,0.25);
        float:right
    }
    .content.mypage .input-box {
        overflow: hidden;
    }
    .content.mypage .package-title {
        font-size: 2rem;
        font-weight:bold;
        color:black;
    }
    .content.mypage .package-title span{
        font-size: 1rem;
        color: rgba(0,0,0,0.25)
    }

    .content.mypage .link-template-tabcard {
        margin: 1.5rem 0;
        border-radius: 1rem;
    }

    .mypage .input-box .form-group.mr {
        margin-right: 1rem !important;
    }


.mypage .input-box .form-group {
    width: calc(99% / 2 - .6rem);
    margin: 1rem 0;
    display: inline-block;
    padding: 2rem 1rem;
    background-color: #A8C6FF;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
    border-radius: 2px;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


    .mypage .input-box .form-group:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .mypage .input-box .form-group label {
        font-size: 1.5rem;
        text-align: center;
        display: block;
        color:grey;
    }

.mypage .input-box .form-group input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
    background-color : transparent;
    padding : 6px 0;
    font-weight: bold;
    font-size : 1.1rem;
    width: 65%;
    display: inline-block;
    
}
.mypage .input-box .form-group .btn {
    border-radius: 20px;
    border: 1px solid #fff;
    font-weight: bold;
    float:right
}

.content.mypage .as-box .as-wrapper {
    overflow:hidden;
}

.content.mypage .as-box .as-wrapper .name {
    display: inline-block;
    padding: 1rem;
    border: 1px solid;
    width: 15%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    float: left;
    color: #f2f2f2;
}

    .content.mypage .as-box .as-wrapper .type-d {
        border: 1px solid #f3f3f3;
        background-color: #deab41;
        border-radius: 25px;
    }
    .content.mypage .as-box .as-wrapper .type-m {
        border: 1px solid #f3f3f3;
        background-color: #40b8c8;
        border-radius: 25px;
    }

.content.mypage .as-box .as-detail {
    background-color: white;
    padding: 1rem;
    border-radius: .9rem;
    margin-top: 1.5rem;
}

    .content.mypage .as-box .as-detail h4 {
        font-weight: bold;
        font-size: 2.2rem;
        border-bottom: 1px dotted #000000;
        text-align: center;
        margin-bottom: 1rem;
        display:block
    }

    .content.mypage .as-box .as-detail .as-detail-info {
        font-size: 1.8rem;
    }



.hidden {
    display: none;
}



.social-box .box {
    background: #FFF;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

    .social-box .box:hover {
        box-shadow: 0 0 6px #4183D7;
    }

    .social-box .box .box-text {
        margin: 20px 0px;
        font-size: 15px;
        line-height: 30px;
    }

    .social-box .box .box-btn a {
        text-decoration: none;
        color: #4183D7;
        font-size: 16px;
    }

.fa {
    color: #4183D7;
}


