@media (max-width: 2000px) {
    .container{
        max-width: 100% !important;
        padding : 0;
    }
}

.content {
    position: relative;
    margin: 0 auto;
    padding-bottom: 80px;
    box-sizing: border-box;
    top: 3.25rem;
    
}

.content-wrapper {
    width: 90%;
}

.user-profile {
    position: relative;
    top: 3.25rem;
    background-color: #A8C6FF;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 3rem;
    margin: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
}

    .user-profile h2 {
        font-size : 3rem;
        font-weight: bold;
        text-align: center
    }

    .user-profile .user-box .mypage-tap {
        max-width: 80%;
        margin: 0 auto;
    }

    .user-profile .user-box .mypage-tap .btn-tap {
        margin: 1.5rem  auto auto 0;
        display: inline-block;
        width: calc(99% / 3 - .5rem);
    }

        .user-profile .user-box .mypage-tap .btn-tap div {
            position: relative;
            max-width: 50%;
            border-radius: 100%;
            background-color : #f3f3f3;
            overflow: hidden;
            margin: 0 auto;
            cursor: pointer;
            padding-bottom: 49%;
        }

    .user-profile .user-box .mypage-tap div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: absolute;
        
    }

    .user-profile .user-box .mypage-tap h4 {
        text-align: center;
        font-size : 2rem;
        margin-top : 1.5rem;
        font-weight:bold
    }

.content.mypage {
    max-width: 85%;
    margin : 0 auto
}

.content.mypage .input-box{
    overflow:hidden;
}


.mypage .input-box .form-group.mr {
       margin-right: 1rem !important;
}


.mypage .input-box .form-group {
    width: calc(99% / 2 - .6rem);
    margin: 1rem 0;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
    padding: 0.5rem 1rem;
    background-color: #A8C6FF;
    float: left;
}


.mypage .input-box .form-group label {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
 }

.mypage .input-box .form-group input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
    background-color : transparent;
    padding : 6px 0;
    font-weight: bold;
    font-size : 1.1rem;
}



.hidden {
    display: none;
}
