body {
    padding: 0 !important;
    margin : 0 !important; 
}

table {
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

    tr , td {
        border: 1px solid black;
        padding: .5rem;
    }

.table-title {
    background-color: #8ce9df;
    font-weight:bold;
}

@media only print {
    .table-title {
        -webkit-print-color-adjust: exact !important;
    }

    table {
        border: 1px solid black;
        text-align: center;
        font-size: 15px;
        background-color: red;
    }

    tr, td {
        border: 1px solid black;
        padding: .5rem;
    }

    .table-title {
        background-color: #8ce9df;
        font-weight: bold;
    }

    .procedures {
        min-height: 10cm;
    }
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm !important;
    margin: 1cm auto;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.procedures {
    min-height: 10cm;
}

@page {
    size: A4 portrait;
    margin: 0;
    padding: 2cm;
    /*size: landscape;*/
}

