@media only print {
    .table-title {
        -webkit-print-color-adjust: exact !important;
    }

    table {
        border: 1px solid black;
        text-align: center;
        font-size: 15px;
        background-color: red;
    }

    tr, td {
        border: 1px solid black;
        padding: .5rem;
    }

    .table-title {
        background-color: #8ce9df;
        font-weight: bold;
    }
    
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm !important;
    margin: 1cm auto;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
    size: A4 landscape;
    margin: 0;
    /*size: landscape;*/
}

.sign {
    background-image: url(/img/Main/sign.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
